<body>
  <div class="jumbotron">
    <h2 id="terminos">Terminos y condiciones</h2>
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
   
  </div>
  <strong><p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
    <div class="col d-flex justify-content-center">
      <button class="btn-lg btn-success" data-toggle="modal" data-target="#exampleModalCenter">Acepto</button>
      <button class="btn-lg btn-danger"  routerLink="/Principal">No acepto</button>
    </div>
    
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ingreso de usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          
          <div class="form-group ">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" name="email" required>
          </div>
          
          <div class="form-group">
            <label for="clave"><b>Clave</b></label>
            <input type="password" class="form-control" id="email" placeholder="Ingresa tu clave" name="psw" required>
          </div>
          <div class="form-group">          
            <input type="password" class="form-control" id="email" placeholder="Re-ingresa tu clave" name="psw-repeat" required>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Recordar mis datos</span>
            </div>
            <div class="input-group-text">
              <input type="checkbox" >
            </div>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Acepta terminos y condiciones</span>
            </div>
            <div class="input-group-text">
              <input type="checkbox" id="chkTerminos">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">¡Sí señor!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">¡No quiero!</button>
      </div>
    </div>
  </div>
</div>
    
    
    

  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>