<div class="jumbotron jumbotron-fluid">
    <h1 class="mb-5"> <b> <i class="fa fa-gamepad"></i> Ta - te - ti <i class="fa fa-gamepad"></i> </b></h1>
    <hr>
    <div class="container  border-dark">
        <div class="row">
            <div class="col-sm m-3">
                 <div class="btn-toolbar d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                    </div>
                </div>
                <div class="btn-toolbar d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                    </div>
                </div>
                <div class="btn-toolbar d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                        <button type="button" class="btn-lg btn-outline-dark"><i class="fa fa-square"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm m-3">
                <div class="card bg-light mb-3 d-flex justify-content-center" style="max-width: 18rem;">
                    <div class="card-header">
                        HEADER<!-- <h2>Tiempo: {{tiempo}}</h2> -->
                    </div>
                    <div class="card-body">
                        BODY
                        <!-- <h5 class="card-title">Nivel: {{nuevoJuego.nivel}}</h5> -->
                        <!-- <p class="card-text">Jugador: {{jugador.nombre}}</p> -->
                        <!-- <p class="card-text">Puntaje: {{nuevoJuego.puntos}}</p>
                        <p class="card-text">Mayor puntaje: {{nuevoJuego.mayorPuntaje}}</p> -->
                       
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>